@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  background-color: darkslateblue;
  color: white;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.header-title {
  margin-bottom: 0;
  color: white;
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
}
